body{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("https://www.en.etemaaddaily.com/pages/health/coronavirusupdates/1234biharcoro.jpg");
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid cadetblue;
    background-color:whitesmoke;
}

.heading{
    font-family: Verdana;
    font-weight: 900;
    font-size: 200%;
    margin-top: 30px;
}