body{
    background-color: rgb(87, 180, 223);
    /* background-image: url("https://www.en.etemaaddaily.com/pages/health/coronavirusupdates/1234biharcoro.jpg"); */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid cadetblue;
    background-color:whitesmoke;
}

.heading{
    font-family: Verdana;
    font-weight: 900;
    font-size: 200%;
    margin-top: 5px;
}

.headingimage{
    width: 10%;
    margin-top: 5px;
}